<h1> Links </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL:   <%= link.url   %>
        <% link.tags.each do |tag| %>
        Tag:   <%= tag.tagname %>
        <% end %>
      <% end %>
    </li>
</ul>

<form action='/links/new' method='get'>
  <input type='submit' value='Add links'/>
</form>
