
<form action="/links" method="post">
  <label for="title">Title<label/>
  <input type="text" name="title"/>
  <label for="url">url<label/>
  <input type="text" name="url"/>
  <label for="name">tag<label/>
  <input type="text" name="name"/>
  <input type='submit' value='Submit'/>
</form>
